Repository g-imhoff/tp-algodesreseaux: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_exo1.1, trigger_exo1.2, trigger_exo1.3, trigger_exo2, trigger_exo3, trigger_exo4, trigger_exo5.1, trigger_exo5.2, trigger_exo5.3

.gitlab-ci.yml:

stages:
  - triggers

trigger_exo1.1:
  stage: triggers
  trigger:
    include: 1-udp/1.1-emetteur/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - 1-udp/1.1-emetteur/*.c

trigger_exo1.2:
  stage: triggers
  trigger:
    include: 1-udp/1.2-recepteur/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - 1-udp/1.2-recepteur/*.c

trigger_exo1.3:
  stage: triggers
  trigger:
    include: 1-udp/1.3-transmission-continue/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - 1-udp/1.3-transmission-continue/*.c

trigger_exo2:
  stage: triggers
  trigger:
    include: 2-envoyer-et-attendre/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - 2-envoyer-et-attendre/*.c

trigger_exo3:
  stage: triggers
  trigger:
    include: 3-bit-alterne/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - 3-bit-alterne/*.c

trigger_exo4:
  stage: triggers
  trigger:
    include: 4-retransmission-continue/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - 4-retransmission-continue/*.c

trigger_exo5.1:
  stage: triggers
  trigger:
    include: 5-tcp/5.1-client/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - 5-tcp/5.1-client/*.c

trigger_exo5.2:
  stage: triggers
  trigger:
    include: 5-tcp/5.2-serveur/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - 5-tcp/5.2-serveur/*.c

trigger_exo5.3:
  stage: triggers
  trigger:
    include: 5-tcp/5.3-chat/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - 5-tcp/5.3-chat/*.c

fin de séance
  1-udp/1.1-emetteur/sender-udp.c
Due: trigger_exo1.1

test
  1-udp/1.1-emetteur/sender-udp.c
Due: trigger_exo1.1

résolution de certaine erreur
  1-udp/1.1-emetteur/sender-udp.c
Due: trigger_exo1.1

adding free and close
  1-udp/1.1-emetteur/sender-udp.c
Due: trigger_exo1.1

test qui a surement plein d'erreur
  1-udp/1.2-recepteur/receiver-udp.c
Due: trigger_exo1.2

amélioration du code
  1-udp/1.2-recepteur/receiver-udp.c
Due: trigger_exo1.2

test
  1-udp/1.2-recepteur/receiver-udp.c
Due: trigger_exo1.2

il ne manque plus que le valgrind
  1-udp/1.2-recepteur/receiver-udp.c
Due: trigger_exo1.2

v1 qui marche pour mon test à la main
  1-udp/1.3-transmission-continue/receiver-udp.c
  1-udp/1.3-transmission-continue/sender-udp.c
  1-udp/1.3-transmission-continue/udp.h
Due: trigger_exo1.3

ajout des signaux, test des transmission large quantité ne se termine jamais ?
  1-udp/1.3-transmission-continue/.nfs000000000f4e34fb000005f1
  1-udp/1.3-transmission-continue/.nfs000000000f4e3508000005f0
  1-udp/1.3-transmission-continue/receiver-udp.c
Due: trigger_exo1.3

modif 1.1
  1-udp/1.1-emetteur/sender-udp.c
Due: trigger_exo1.1

fin du 1.3
  1-udp/1.3-transmission-continue/receiver-udp.c
  1-udp/1.3-transmission-continue/sender-udp.c
Due: trigger_exo1.3

starting 2
  2-envoyer-et-attendre/receiver-udp.c
  2-envoyer-et-attendre/sender-udp.c
  2-envoyer-et-attendre/udp.h
Due: trigger_exo2

quelque ajout
  1-udp/1.3-transmission-continue/receiver-udp.c
  1-udp/1.3-transmission-continue/sender-udp.c
  2-envoyer-et-attendre/receiver-udp.c
  2-envoyer-et-attendre/sender-udp.c
  2-envoyer-et-attendre/udp.h
Due: trigger_exo1.3, trigger_exo2

correct error
  1-udp/1.3-transmission-continue/receiver-udp.c
  1-udp/1.3-transmission-continue/sender-udp.c
Due: trigger_exo1.3

test du code
  2-envoyer-et-attendre/old_receiver
  2-envoyer-et-attendre/old_sender
  2-envoyer-et-attendre/receiver-udp.c
  2-envoyer-et-attendre/udp.h
Due: trigger_exo2

fin du tp2
  2-envoyer-et-attendre/receiver-udp.c
Due: trigger_exo2

début du tp3
  3-bit-alterne/receiver-udp.c
  3-bit-alterne/sender-udp.c
Due: trigger_exo3

medium works we can now start the code
  3-bit-alterne/medium.c
  3-bit-alterne/sender-udp.c
Due: trigger_exo3

devrait marcher ?
  3-bit-alterne/receiver-udp.c
  3-bit-alterne/sender-udp.c
Due: trigger_exo3

marche avec un timeout plus long ?
  3-bit-alterne/sender-udp.c
Due: trigger_exo3

devrait marcher ?
  4-retransmission-continue/medium.c
  4-retransmission-continue/receiver-udp.c
  4-retransmission-continue/sender-udp.c
Due: trigger_exo4

bug résout ?
  4-retransmission-continue/sender-udp.c
Due: trigger_exo4

bug bizzare, des byte \0 en trop mis a la fin
  4-retransmission-continue/sender-udp.c
Due: trigger_exo4
